<!DOCTYPE html>
<body>
  <!--<app-nav-menu></app-nav-menu>-->
  <div>
    <router-outlet></router-outlet>
  </div>
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-6">
          <nav class="nav flex-column">
            <a href="http://www.molsoncoors.com/en/terms-and-conditions" target="_blank" class="nav-link">Terms &amp; Conditions</a>
            <a href="https://www.carling.com/contact-us" target="_blank" class="nav-link">Get in touch</a>
            <a href="https://www.molsoncoors.com/en/privacy#tracking-technologies" target="_blank" class="nav-link">Cookie policy</a>
          </nav>
        </div>
        <div class="col-6 text-right social">
          <nav class="nav justify-content-end">
            <a href="https://www.facebook.com/Carling" target="_blank" class="nav-link"><img src="/assets/images/facebook.svg" alt="facebook" width="14" height="14"></a>
            <a href="https://twitter.com/carling" target="_blank" class="nav-link"><img src="/assets/images/twitter.svg" alt="twitter" width="14" height="14"></a>
            <a href="https://www.instagram.com/carlinguk/" target="_blank" class="nav-link"><img src="/assets/images/insta.svg" alt="instagram" width="14" height="14"></a>
          </nav>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 legal">
          <a href="https://www.drinkaware.co.uk/" target="_blank">drinkaware.co.uk</a> for the facts <br />
          <a href="https://drinkaware.ie/" target="_blank">drinkaware.ie</a> for the facts
        </div>
        <div class="col-12 col-md-6 text-right">
          &copy; CARLING {{currentYear}}
        </div>
      </div>
    </div>
  </footer>

</body>
