<!DOCTYPE html>
<body>
  <!--<app-nav-menu></app-nav-menu>-->
  <div *ngIf="sessionTimeoutWarning" class="show-warning">
    <div class="container">
      <p>
        The session will expire after 20 minutes of no activity.<br />
        <strong>{{ countdownDisplay }}</strong>
      </p>
    </div>
  </div>

  <div *ngIf="sessionTimeout" class="show-warning">
    <div class="container" id="sessionTimeout">
      {{ countdownDisplay }}
    </div>
  </div>

  <router-outlet></router-outlet>


  <footer class="footer mt-auto main pt-default pb-default">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-block">
            <p>Past Performance is not a guide to future performance and may not be repeated. The value of investments and the income from them may go down as well as up and investors may not get back the amounts originally invested. Exchange rate changes may cause the value of investments to fall as well as rise. Investment involves risk. </p>
            <p>Any reference to regions/ countries/ sectors/ stocks/ securities is for illustrative purposes only and not a recommendation to buy or sell any financial instruments or adopt a specific investment strategy. </p>
            <p>Issued in the UK by Schroder Investment Management Limited, 1 London Wall Place, London EC2Y 5AU. Registered No. 1893220 England. Authorised and regulated by the Financial Conduct Authority. </p>
            <p>To the extent that you are in North America, this content is issued by Schroder Investment Management North America Inc., an indirect wholly owned subsidiary of Schroders plc and SEC registered adviser providing asset management products and services to clients in the US and Canada. </p>
            <p>To the extent that you are in the Channel Islands, this content is issued by Cazenove Capital, a trading name of Schroders (C.I.) Ltd which is licensed under the Banking Supervision (Bailiwick of Guernsey) Law 2020, Protection of Investors (Bailiwick of Guernsey) Law 2020, as amended and The Lending, Credit and Finance (Bailiwick of Guernsey) Law, 2022. SCIL is regulated in Guernsey in the conduct of banking, lending and investment business by the Guernsey Financial Services Commission. Registered address at Regency Court, Glategny Esplanade, St. Peter Port, Guernsey GY1 3UF, (No.24546) . Schroders (C.I.) Limited, Jersey Branch is regulated by the Jersey Financial Services Commission in the conduct of investment business. Registered address at IFC1, Esplanade, St Helier, Jersey, JE2 3BX, (No.31076).</p>
          </div>
        </div>
      </div>
      <div class="row pt-default justify-content-between">
        <div class="col-12 col-md-auto">
          <ul class="footer-nav">
            <li><a href="https://www.schroders.com/en-gb/uk/local/">Schroders | UK</a></li>
            <li><a href="https://www.schroders.com/en-gb/uk/local/footer/privacy-policy/">Privacy Statement</a></li>
          </ul>
        </div>
        <div class="col-12 col-md-auto">
          <p>© Copyright 2025 Schroders plc</p>
        </div>
      </div>
    </div>
  </footer>

</body>
