
<ng-container>
  <header>
    <div class="container">
      <div class="row row-logo">
        <div class="col-12"><img src="assets/images/carling-logo.svg" alt="Carling" width="150" height="84"></div>       
      </div>
      <div class="row">
        <div class="col-12">
          <h1>
            Sorry!
          </h1>
        </div>
      </div>
    </div>
  </header>
  <article>
    <section class="app-short">
      <div class="container reset-on-tablet-sigle-use short">
        <div class="row reset-on-tablet-row-nm">
          <div class="col-12 col-md-6 t-shirt-container confirmation-page-prize">
            <figure class="t-shirt">
              <img src="assets/images/t-shirt.png" class="img-fluid">
            </figure>
          </div>
          <div class="col-12 col-md-6">
            <div class="confirmation-message">
              <p>{{errorMessage}}</p>
              <p *ngIf="answerErrorMessage">We’re sorry you cannot claim your shirt on this occasion as all of these questions were answered incorrectly. <a href="/enter">Please try again.</a></p>
            </div>
          </div>
          <div class="col-12 mm-only-single-instance mb-4"><img src="assets/images/winner-confirmation.png" alt="Carling" class="img-fluid"></div>
        </div>
      </div>
    </section>
  </article>
  </ng-container>

