
<ng-container>
  <header>
    <div class="container">
      <div class="row row-logo">
        <div class="col-12"><img src="assets/images/carling-logo.svg" alt="Carling" width="150" height="84"></div>
      </div>
      <div class="row">
        <div class="col-12">
          <h1>NICE ONE! <br>YOU HAVE SUCCESSFULLY CLAIMED YOUR SHIRT.</h1>
        </div>
      </div>
    </div>
  </header>
  <article>
    <section class="app-short">
      <div class="container reset-on-tablet-sigle-use short">
        <div class="row reset-on-tablet-row-nm">
          <div class="col-12 col-md-6 t-shirt-container confirmation-page-prize">
            <figure class="t-shirt t-shirt-black">
              <img src="assets/images/t-shirt-confirmation.png" alt="Umbro football shirt" class="img-fluid">
            </figure>
          </div>
          <div class="col-12 col-md-6">
            <div class="confirmation-message">
              <p>What happens next?</p>
              <p>We’ll get your shirt packed up and shipped out to the address details you’ve provided. Keep an eye out for an email that will let you know when it’s on it’s way.</p>
              <p>So sit back, open that Limited Edition can of Carling and follow us on Facebook or Instagram to find out more about our collaboration with Umbro and the shirt that’s winging it’s way to you.</p>
            </div>
          </div>
          <div class="col-12 mm-only-single-instance mb-4"><img src="assets/images/winner-confirmation.png" alt="Carling" class="img-fluid"></div>
        </div>
      </div>
    </section>
  </article>
</ng-container>

