<ng-container>
  <header class="main">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Generic Demo Logo -->
          <a href="#" target="_blank" rel="noopener noreferrer">
            <h2 style="margin:0; color:#003366; font-weight:700;">DemoCorp</h2>
          </a>
        </div>
      </div>
    </div>
  </header>

  <section class="banner">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-auto">
          <h1>Demo Investor Portal</h1>
        </div>
      </div>
    </div>
  </section>

  <main class="pt-default pb-default">
    <div class="container">
      <div class="row pb-default">
        <div class="col-12">
          <div class="row pb-default">
            <div class="col-12">
              <h2 class="custom">Thank you</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-12 col-lg-8 col-xl-6">
              <p>Your details have been submitted successfully.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min-->
</ng-container>
